[Desktop Entry]
Name=JPilot
Comment=Jpilot - Palm Pilot desktop software
Comment[es]=Jpilot pilot desktop software
Comment[ja]=Palm パイロットデスクトップ
Comment[pl]=Program zarządzający Palm Pilotem
Comment[pt]=Software para interação com o Pilot
Comment[pt_BR]=Software para interação com o Pilot
Icon=jpilot
Exec=jpilot
Terminal=false
Type=Application
Categories=GTK;Office;X-PIM;
# vi: encoding=utf-8
